:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    header,
    footer {
        background: #3f51b5;
        color: white;
        height: 66px;
        padding: 12px;
    }
    footer {
        display: flex;
        flex-direction: row;
        .ng-logo {
            height: 40px;
            background-size: cover;
        }
        .text {
            text-align: end;
            flex: 1;
            margin-right: 12px;
            .authors {
                font-style: italic;
            }
        }
    }
    .main {
        flex: 1;
        padding: 12px;
    }
}